
services:
  web-app:
    build:
      context: .
      dockerfile: Dockerfile-Prod
    ports:
      - 4443:443
    depends_on:
      - db
      - cache
    links:
      - db
    networks:
      - backend
      - cache
  phpmyadmin:
    image: phpmyadmin
    restart: unless-stopped
    ports:
      - "8081:80"
    networks:
      - backend
    depends_on:
      - db

  db:
    image: mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=SAmsuNG123sileriumdb
      - MYSQL_DATABASE=sileriumdb
      - MYSQL_USER=app
      - MYSQL_PASSWORD=SAmsuNG123sileriumdb
      - LANG=C.UTF_8
    command: 
    - --character-set-server=utf8mb4 
    - --collation-server=utf8mb4_unicode_ci
    networks:
      - backend
  cache:
    image: memcached:1.6.24
    restart: unless-stopped
    command:
      - --conn-limit=1024
      - --threads=4
      - --memory-limit=4096
    networks:
      - cache
networks:
  backend:
  cache: