services:
  web-app:
    build:
      context: .
      dockerfile: Dockerfile-Prod
    ports:
      - 4443:443
    healthcheck:
      test: ["CMD", "curl", "-kf", "https://localhost"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 40s
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    volumes:
      - /var/www/html/SileriumPHP/.env:/var/www/.env
    links:
      - db
    networks:
      - backend
      - cache
  dbgate:
    image: dbgate/dbgate
    restart: unless-stopped
    ports:
      - 8081:3000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      CONNECTIONS: mysql

      LABEL_mysql: MySql
      SERVER_mysql: db
      DATABASE_mysql: sileriumdb
      USER_mysql: app
      PASSWORD_mysql: SAmsuNG123sileriumdb
      PORT_mysql: 3306
      ENGINE_mysql: mysql@dbgate-plugin-mysql

      LOGIN: app
      PASSWORD: SAmsuNG123sileriumdb
      LOGIN_PERMISSIONS_app: "~*,connections/*,dbops/sql-template/*,dbops/sql-dump/import,dbops/sql-dump/export,dbops/query,dbops/import,dbops/export,dbops/charts,dbops/profiler,settings/change,~widgets/*,widgets/database,widgets/history,widgets/plugins,plugins/install,dbops/model/view,dbops/model/compare,dbops/table/backup"

    volumes:
      - dbgate-data:/root/.dbgate
    networks:
      - backend
    depends_on:
      db:
        condition: service_healthy
  mailpit:
    image: axllent/mailpit
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8025"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    ports:
      - 8825:8025
      - 1125:1025
    networks:
      - backend
    depends_on:
      web-app:
        condition: service_healthy
  db:
    image: mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${MYSQL_USER}", "-p${MYSQL_PASSWORD}"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    environment:
      - MYSQL_ROOT_PASSWORD=SAmsuNG123sileriumdb
      - MYSQL_DATABASE=sileriumdb
      - MYSQL_USER=app
      - MYSQL_PASSWORD=SAmsuNG123sileriumdb
      - LANG=C.UTF_8
    command: 
    - --character-set-server=utf8mb4 
    - --collation-server=utf8mb4_unicode_ci
    volumes:
      - backend-data:/var/lib/mysql/
    networks:
      - backend
  cache:
    image: memcached:1.6.24
    restart: unless-stopped
    command:
      - --conn-limit=1024
      - --threads=4
      - --memory-limit=4096
    networks:
      - cache
networks:
  backend:
  cache:
volumes:
  backend-data:
  dbgate-data:
    driver: local