input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html, body 
{
    height: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .category-btn {
        width: 20%;
    }
}
@media (max-width: 768px) {
    .ad-text {
        text-align: center;
    }
    .mobile-margin
    {
        margin: 0 20px 0 20px;
    }
}
@media (max-width: 850px) {
    .category-btn {
        width: 40%;
    }
}

.nav > .nav-item > .nav-link {
    color: black;
}

.nav > .nav-item > .nav-link:hover {
    color: #bbb;
}

.navbar > .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
    color: black;
}

.navbar > .navbar-collapse > .navbar-nav > .nav-item > .nav-link:hover {
    color: #bbb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.toolbar {
    background-color: rgba(75, 75, 75, 0.1);
}

.toolbar h2 {
    color: black;
}

.category-image, .subcategory-image, .product-image {
    width: 300px;
    height: 300px;
}

.ad-text {
    height: 800px;
}
#logout {
    color: #ccc;
}
#logout:hover {
    color: black;
}